version: "3"
networks:  
  default:
    external:
      name: ${SERVICE_NETWORK:-webservices} 

services:
 
  couchpotato:
    build: ./CouchPotato
    image: chrisfactory/couchpotato
    container_name: couchpotato.stack 
    environment:
      TZ: ${TZ}
      PUID: ${UID}
      PGID: ${GID}
      UMASK_SET: 022
      VIRTUAL_HOST: couchpotato.localhost
      LETSENCRYPT_HOST: couchpotato.localhost
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      VIRTUAL_PORT: 5060
    volumes:
      - ${APP_DIR}/couchpotato:/config:rw
      - ${DOWNLOADS_DIR}:/downloads:rw
      # - ..:/movies 
    ports:
      - 5060:5050
    restart: unless-stopped



  rutorrent:
    build: ./RuTorrent
    image: chrisfactory/rutorrent
    container_name: rutorrent.stack
    environment: 
      TZ: ${TZ}
      PUID: ${UID}
      PGID: ${GID}
      UMASK_SET: 022 #optional
      LETSENCRYPT_HOST: rutorrent.localhost
      VIRTUAL_HOST: rutorrent.localhost
      VIRTUAL_PORT: 5050
    volumes:
      - ${APP_DIR}/rutorrent:/config:rw
      - ${DOWNLOADS_DIR}:/downloads:rw
    ports:
      - 5050:80
      - 5051:5000
      - 5052:51413
      - 5053:6881/udp
    restart: unless-stopped
  

  sickchill: 
    image: linuxserver/sickchill
    container_name: sickchill.stack
    environment:
      TZ: ${TZ}
      PUID: ${UID}
      PGID: ${GID}
      UMASK_SET: 022
      LETSENCRYPT_HOST: sickchill.localhost,sick.localhost
      VIRTUAL_HOST: sickchill.localhost,sick.localhost
      VIRTUAL_PORT: 8081
    volumes:
      - ${APP_DIR}/sickchill:/config:rw
      - ${DOWNLOADS_DIR}:/downloads:rw
      # -v <path to tv-shows>:/tv   
    ports:
      - 8081:8081
    restart: unless-stopped 

  plex:
    image: linuxserver/plex
    container_name: plex.stack 
    environment:
      TZ: ${TZ}
      PUID: ${UID}
      PGID: ${GID}
      UMASK_SET: 022  
      VERSION: docker
      VIRTUAL_HOST: plex.localhost
      LETSENCRYPT_HOST: plex.localhost
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}  
      VIRTUAL_PORT: 32400
    ports:
      - 32400:32400 
      # - 1900:1900/udp 
      # - 3005:3005 
      # - 5353:5353/udp 
      # - 8324:8324 
      # - 32410:32410/udp 
      # - 32412:32412/udp 
      # - 32413:32413/udp 
      # - 32414:32414/udp 
      # - 32469:32469
      # - PLEX_CLAIM= #optional
    volumes:
      - ${APP_DIR}/plex:/config 
    #   - /path/to/tvseries:/tv
    #   - /path/to/movies:/movies
    restart: unless-stopped
 
  jellyfin:
    image: linuxserver/jellyfin
    container_name: jellyfin.stack
    environment:
      TZ: ${TZ}
      PUID: ${UID}
      PGID: ${GID}
      UMASK_SET: 022 #optional
      VIRTUAL_HOST: jellyfin.localhost
      LETSENCRYPT_HOST: jellyfin.localhost
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL} 
      VIRTUAL_PORT: 8096
    volumes:
      - ${APP_DIR}/jellyfin:/config
    #   - /path/to/tvseries:/data/tvshows
    #   - /path/to/movies:/data/movies
    #   - /opt/vc/lib:/opt/vc/lib #optional
    ports:
      - 8096:8096 
    # devices:
    #   - /dev/dri:/dev/dri #optional
    #   - /dev/vcsm:/dev/vcsm #optional
    #   - /dev/vchiq:/dev/vchiq #optional
    #   - /dev/video10:/dev/video10 #optional
    #   - /dev/video11:/dev/video11 #optional
    #   - /dev/video12:/dev/video12 #optional
    restart: unless-stopped